In [1]:
import pandas as pd

# Load dataset

In [3]:
data = pd.read_excel("data_transformation.xlsx", index_col="Instance")
data.head()

,Alternative,Bar,Friday&Saturday,Hungry,Patrons,Price Range,Raining,Reservation,TypeCuisine,EstimatedWaitingTime,WillWait
Instance,,,,,,,,,,,
X1,Yes,No,No,Yes,Some,$$$,No,Yes,French,0-10,Yes
X2,Yes,No,No,Yes,Full,$,No,No,Thai,30-60,No
X3,No,Yes,No,No,Some,$,No,No,Burger,0-10,Yes
X4,Yes,No,Yes,Yes,Full,$,Yes,No,Thai,10-30,Yes
X5,Yes,No,Yes,No,Full,$$$,No,Yes,French,>60,No

# Label Encoding

In [5]:
yes_no_columns = [
  'Alternative', 'Bar', 'Friday&Saturday', 'Hungry', 'Raining', 'Reservation',
  'WillWait'
]
categorical_columns = [
  'Patrons', 'Price Range', 'TypeCuisine', 'EstimatedWaitingTime'
]

## Label Encoding

In [6]:
# convert yes_no_columns to boolean
from sklearn.preprocessing import LabelEncoder

transformed_data = data.copy()

le = LabelEncoder()
for column in yes_no_columns:
  transformed_data[column] = le.fit_transform(
    data[column]
  )

transformed_data[yes_no_columns]

,Alternative,Bar,Friday&Saturday,Hungry,Raining,Reservation,WillWait
Instance,,,,,,,
X1,1,0,0,1,0,1,1
X2,1,0,0,1,0,0,0
X3,0,1,0,0,0,0,1
X4,1,0,1,1,1,0,1
X5,1,0,1,0,0,1,0
X6,0,1,0,1,1,1,1
X7,0,1,0,0,1,0,0
X8,0,0,0,1,1,1,1
X9,0,1,1,0,1,0,0
X10,1,1,1,1,0,1,0
X11,0,0,0,0,0,0,0
X12,1,1,1,1,0,0,1
X13,1,1,1,0,1,0,1
X14,1,1,1,0,1,0,1
X15,1,0,1,0,0,1,0

## One Hot Encoding

In [8]:
# convert categorical columns to one-hot encoding
from sklearn.preprocessing import OneHotEncoder

# one_hot_encoders = []

for column in categorical_columns:
  one_hot_encoder = OneHotEncoder(handle_unknown='ignore')
  one_hot_encoded = one_hot_encoder.fit_transform(
    data[column].values.reshape(-1, 1)
  )
  # one_hot_encoders.append((column, one_hot_encoder))

  one_hot_encoded_df = pd.DataFrame(
    one_hot_encoded.toarray(),
    columns=[f"{column}_{category}" for category in one_hot_encoder.categories_[0]]
  ).astype(int)


one_hot_encoded_df

,EstimatedWaitingTime_0-10,EstimatedWaitingTime_10-30,EstimatedWaitingTime_30-60,EstimatedWaitingTime_>60
0,1,0,0,0
1,0,0,1,0
2,1,0,0,0
3,0,1,0,0
4,0,0,0,1
5,1,0,0,0
6,1,0,0,0
7,1,0,0,0
8,0,0,0,1
9,0,1,0,0
10,1,0,0,0
11,0,0,1,0
12,1,0,0,0
13,0,0,1,0
14,0,0,0,1